.burgerMenu {
    top:0;
    right:0;
    position:fixed;
    background-color:#ff914d;
    height:100%;
    width:40%;
    display:flex;
    z-index:1;
    text-align: center;
}


.burgerMenu__list {
    margin-top:80px;
    width:100%;
    font-size:18px;
    padding:20px;
}


.burgerMenu__button {
    background-color: #ff914d;
    color: #fff9f4;
    border:none;
    font-size:16px;
    padding:10px;
}
