.burgerMenu {
    top:0;
    right:0;
    position:fixed;
    background-color: #fff9f4;
    height:100%;
    width:30%;
    display:flex;
    z-index:1;
}


.burgerMenu__list {
    margin-top:80px;
    list-style: none;
    width:100%;
    font-size:18px;
    text-align: center;
    padding:20px;
}


.burgerMenu__button {
    background-color: #fff9f4;
    color: #ff914d;
    border:none;
    font-size:20px;
    padding:10px;
}
