input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff9f4 inset;
    box-shadow:0 0 0 30px #fff9f4 inset;
}

.createAccount {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height:100vh;
    background-color: #fff9f4;
    min-width:100vw;
}

.createAccount__logo {
    object-fit: contain;
    width: 200px;
    height:150px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}

.createAccount__container {
    width:40%;
    height:fit-content;
    display:flex;
    flex-direction: column;
    border-radius:5px;
    border:1px solid lightgray;
    padding:20px;
    margin-bottom:20px;
}

.createAccount__container > form > h1 {
    font-weight:500;
    margin-bottom:20px;
    text-align:center;
}



.createAccount__container > form > input {
    height:30px;
    margin-bottom:10px;
    background-color: #fff9f4;
    width:100%;
    margin-top:3px;
    border-radius:4px;
    border:1px solid black;
    outline:none;
    padding-left:5px;
}

.createAccount__container > p {
    font-size:12px;
}


.createAccount__address {
    display:flex;
    justify-content: space-between;
    width:100%;
    margin-top:5px;
    gap:15px;
}

.createAccount__city {
    width:60%;
}

.createAccount__state {
    width:10%;
}

.createAccount__zipCodeInput {
    height:30px;
    margin-bottom:10px;
    background-color: #fff9f4;
    width:100%;
    margin-top:3px;
    border-radius:4px;
    border:1px solid black;
    outline:none;
    padding-left:5px;
}

.createAccount__cityInput {
    height:30px;
    margin-bottom:10px;
    background-color: #fff9f4;
    width:100%;
    margin-top:3px;
    border-radius:4px;
    border:1px solid black;
    outline:none;
    padding-left:5px;
}

.createAccount__stateInput {
    height:30px;
    margin-bottom:10px;
    background-color: #fff9f4;
    width:100%;
    margin-top:3px;
    border-radius:4px;
    border:1px solid black;
    outline:none;
    padding-left:5px;
}

/* .createAccount__city {
    width:50%;
}

.createAccount__state {
    width:20%;
} */



.createAccount__errors {
    color:red;
    width:fit-content;
    margin:'0 auto';
    margin-top:-10px;
    margin-left:2px;
    font-size:12px;
}


.createAccount__registerButton {
    height:30px;
    border:1px solid;
    border-radius:2px;
    background-color: #ff914d;
    width:40%;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    height:40px;
    margin-top:15px;
}

@media screen and (max-width:800px) {
    .createAccount__container {
        width:80%;
    }
}