.home {
    display:flex;
    justify-content: center;
    max-width: 1500px;
    width:90%;
    margin:0 auto;
}

.home__container {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.home__row {
    display:flex;
    z-index:1;
}

/* .home__image {
    width:100%;
    z-index:-1;
    margin-bottom:-80vh;
    mask-image:linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
} */

