.payment__container {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  margin-bottom:60px;
}

.payment__address__container {
  margin:0 auto;
  margin-top:10px;
  height: fit-content;
  width: 50%;
  padding: 5px;
  justify-content: center;
  background-color: #fff9f4;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.payment__container > h1 a {
  text-decoration: none;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment__items {
  width: 100%;
}

.payment__items > h3 {
  margin-bottom: 10px;
}

.payment__part2 {
  background-color: #fff9f4;
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border: 1px solid lightgray;
}
.payment__title {
  flex: 0.3;
  padding:10px;
}

.payment__address {
  flex: 0.8;
}

.payment__details {
  flex: 0.7;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
}



.payment__cardElementContainer {
  width: 95%;
  margin: 0 auto;
}

.payment__details > form {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top:20px;
}

.payment__paymentMethod {
  background-color: #fff9f4;
  display: flex;
  margin: 0 20px;
  border: 1px solid lightgray;
  min-height:60vh;
}

.payment__priceContainer {
  margin-top: 20px;
  font-size: 22px;
}

.payment__buyNowButton {
  font-size: 22px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #ff914d;
  color: black;
  border: 1px solid black;
}

.payment__stripeSecurity {
  margin-top: 20px;
  margin-left:20px;
  height: fit-content;
  width: 90%;
  padding: 10px;
  align-self:flex-end;
  justify-content: center;
  background-color: #fff9f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
}

.payment__buyNowButton:disabled {
  opacity: 0.3;
}

@media screen and (max-width:800px) {
    .payment__paymentMethod {
        flex-direction: column;
    }

    .payment__address__container {
        margin-bottom:10px;
    }

    .payment__cardElementContainer {
        width:9 0%;
        margin-bottom:10px;
    }

    .payment__details {
        margin:0;
    }
    
    .payment__stripeSecurity {
      margin:0 auto;
    }
}