.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff9f4;
  margin: 20px;
  padding: 20px;
  flex: 1;
  min-width: 40%;
  z-index: 1;
}

.product:hover {
  border: 1px solid black;
  transform: scale(1.01);
  transition-timing-function: ease;
  transition: 0.1s;
}

.product__info {
  height: fit-content;
  margin-bottom: 15px;
  width: 100%;
}

.product__price {
  margin-top: 5px;
}

.product > button {
  background: #ff914d;
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  padding: 10px;
  font-size: 18px;
}

.product > button:hover {
  background: #111;
  color: #ff914d;
}

.product__rating {
  color: #ff914d;
}

.product__image {
  height: 300px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .product__info {
    height: auto;
  }

  .product__image {
    height: 100%;
  }
}
