.shipping {
    display:flex;
    flex-direction: column;
    width:60%;
    height:fit-content;
    background-color:#fff9f4;
    margin:10px auto;
    margin-bottom:50px;
    border:1px solid lightgray;
    padding:5px;
}

.shipping > h3{
   margin:5px;
   text-align: center;
}

.shipping > button{
    background-color: #ff914d;
    padding:5px;
    width:80%;
    margin:0 auto;
    border:1px solid black;
    outline:none;
 }

.shipping__rates {
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: space-around;
    align-items: center;
    margin-top:10px;
}

.shipping__rating__container {
   display:flex;
   align-items: center;
   padding:10px;
   gap:10px;
}

.shipping__rates > input {
   flex:0.1;
}



.shipping__rates > p {
   flex:0.9 1;
   padding:3px;
}


